body {
	background: #f1f1f1;
}

.login-panel{
	margin:auto;
	margin-top:80px;
	width:300px;
}

.login-panel img{
	margin-bottom:20px;
}

.login-panel  > .panel{
	padding:10px;
}

.footer{
	text-align:center;
	padding:5px;
	color:#666;
}

.error_validasi {
	margin-top:15px;
	margin-bottom: 0px;
}

.error_validasi p {
	color:red;
	padding:0px;
	margin: 0px !important;
}

#my-grid th {
	border-color:#C9DCEA;
	background-color: #deeffc; 
	background-color: -moz-linear-gradient(top,  #deeffc 0%, #d7e6f2 100%); 
	background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deeffc), color-stop(100%,#d7e6f2)); 
	background-color: -webkit-linear-gradient(top,  #deeffc 0%,#d7e6f2 100%); 
	background-color: -o-linear-gradient(top,  #deeffc 0%,#d7e6f2 100%); 
	background-color: -ms-linear-gradient(top,  #deeffc 0%,#d7e6f2 100%); 
	background-color: linear-gradient(to bottom,  #deeffc 0%,#d7e6f2 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deeffc', endColorstr='#d7e6f2',GradientType=0 ); 
}

.judul-transaksi {
	margin-top: 5px;
	margin-bottom: 15px;
}

.table-responsive {
	overflow: hidden;
}

.alert {
	margin-bottom: 0px;
}

#daftar-autocomplete { 
	list-style:none; 
	margin:0; 
	padding:0; 
	width:100%;
}

#daftar-autocomplete li {
	padding: 5px 10px 5px 10px; 
	background:#FAFAFA; 
	border-bottom:#ddd 1px solid;
}



#hasil_pencarian{ 
	padding: 0px; 
	display: none; 
	position: absolute; 
	max-height: 350px;
	overflow: auto;
	border:1px solid #ddd;
	z-index: 1;
}

.TotalBayar {
	text-align: right;
	margin-bottom: 20px;
}

.TotalBayar h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

button#CetakStruk, button#Simpann {
	padding-top: 8px;
	padding-bottom: 8px;
}

.info_pelanggan {
	margin-bottom: 0px;
}

.info_pelanggan td {
	padding: 2px;
	text-align: left;
}

#LoadingDulu {
	position: fixed;
	top:0px;
	width: 100%;
	z-index: 1;
}

#LoadingContent {
	height: 30px;
	margin: auto;
	width: 180px;
	background: #ff005e;
	text-align: center;
	line-height: 29px;
	font-weight: bold;
	color: #fff;
}

@media screen and (max-width:768px) {
	.table-responsive {
		overflow: auto;
	}
}